.vscode
stackHanoi.h.gch
hanoiTower.h.gch
hanoiTower.exe
mainHanoiTower.exe
hanoiTower.o
mainHanoiTower.o
Makefile.win
stackHanoi.o
Tubes.exe
Tubes.dev
Tubes.layout
stackHanoi.exe
HanoiTower.dev
HanoiTower.layout
HanoiTower.exe
Mode Mudah.dat
Mode Sulit.dat